In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
                  'col1':[1,2,3,4] , 
                  'col2':[444,555,666,4440] ,
                  'col3':['abc' , 'def', 'ghi', 'xyz'] })

In [3]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4  4440  xyz

In [4]:
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4  4440  xyz

In [5]:
df['col2'].unique()

array([ 444,  555,  666, 4440], dtype=int64)

In [6]:
df['col2'].nunique()

4

In [7]:
df['col2'].value_counts()

444     1
555     1
666     1
4440    1
Name: col2, dtype: int64

In [8]:
def times2(x):
    return x*2

In [9]:
df['col2'].apply(times2)

0     888
1    1110
2    1332
3    8880
Name: col2, dtype: int64