In [1]:
import numpy as np

In [3]:
import pandas as pd

In [9]:
lable = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10 ,'b':20, 'c':30}

In [7]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data= my_data, index= lable )

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(my_data,lable)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(data = [sum,print,max])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function max>
dtype: object

In [18]:
ser1 = pd.Series([1,2,3,4],['India', 'Russia' ,'Canada' , 'Japan' ])

In [19]:
ser1

India     1
Russia    2
Canada    3
Japan     4
dtype: int64

In [22]:
ser2 = pd.Series([1,2,5,4],['India', 'Russia', 'Germany','Japan'])

In [23]:
ser2

India      1
Russia     2
Germany    5
Japan      4
dtype: int64

In [29]:
ser2[2]

5

In [32]:
ser1 + ser2

Canada     NaN
Germany    NaN
India      2.0
Japan      8.0
Russia     4.0
dtype: float64